*{
	font-family:"微软雅黑", "宋体";
	font-size:12px;
	word-wrap:break-word; outline:none; 
}
body{
	font-family:"微软雅黑", "宋体";
	color: #555;
	line-height: 150%;
	background-color:#f3f3f3;
}
a{color:#000;text-decoration: none;}
a img{ border:none; }
a:hover{color:#FF0000;text-decoration:none;}


.wrap{float:left;display:block;width:90%;padding:20px 20px 70px 20px;}
*{padding:0px; margin:0px;}
.topNav{height:30px;margin-bottom:15px; _display:inline; border-bottom:1px solid #ddd;}
.topNav li{ float:left;margin:0px 10px;}
.topNav li a{color:#999; font-size:14px; line-height:30px; display:block;}
.topNav li a.active{color:#00F; font-weight:bold; border-bottom:1px solid #00F;}

form{width:100%; float:left;display:block;}
h3.title{color:#000; font-size:14px; font-weight:bold;float:left;width:100%;text-indent:10px; background-color:#e6e6e6; height:30px; line-height:30px;}
.header{color:#000;float:left; display:block; width:100%;font-size:14px;  background-color:#e6e6e6;}
.header th,.header td{text-align:left; text-indent:10px;}
.mainlist,.infotable{float:left; display:block;width:100%;}
.btnwrap{background-color:#f3f3f3;position:fixed; left:0px; bottom:0px;display:block;width:100%;border-top:1px solid #ddd;}
.btn{padding:20px; float:left;display:block;width:100%;}
.error{ margin-left:5px;}
.input{ box-shadow:2px 2px 2px #F0F0F0 inset;height:24px; border:1px solid #ccc; background-color:#fff;}
.sid{width:40px;text-align:center;}
.mainlist td,.header td,.infotable  td{ height:50px; line-height:50px; text-indent:10px; border-bottom:1px solid #E5E3E3;}
.infotable  th,.mainlist th{height:50px; text-align:left; text-indent:10px; line-height:50px; text-indent:10px;background-color:#F8F8F8; font-weight:normal; border-bottom:1px solid #E5E3E3; border-right:1px solid #E5E3E3;}
.infotable textarea{width:300px;height:150px;}
.mainlist td{ border-right:1px solid #ccc; }
.mainlist th a{padding:0px 10px;}
ul,ul li{text-decoration:none; list-style:none;}
.submit,.sequence{width:57px;height:23px;background:url(../../images/Admin/login_submit2.gif) no-repeat;border:none;cursor:pointer;}
.sequence{background:url(../../images/Admin/sequence.jpg) no-repeat;}
